.header {
  padding: 20px;
  border-bottom: 1px solid #e2e2e2;
  width: 100%;
  font-size: 1.8rem;
  text-align: left;
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}
